@import 'components/header';
@import 'components/reset';
@import 'components/main';
@import 'components/achievement';
@import 'components/gallery';
@import 'components/download';
@import 'components/footer';
@import 'components/faq';
@import 'components/calendar';

.wrapper {
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
}

.hidden-height{
    height: 0;
    overflow: hidden;
    padding: 0;
}

.toast {
    padding: 20px;
    border-radius: 10px;
    position: fixed;
    bottom: 0;
    right: 0;
    color: white;

    &--error {
       background-color: red;
    }

    &--success {
       background-color: green;
    }
}